<div class="view">
 
  <div class="card-wrap">
    <div class="card-profile">
      <div class="card-image">
        <img class="rounded-circle" src="https://www.femalefirst.co.uk/image-library/square/500/g/gravity-image-19.jpg">
      </div>
      <div class="card-body">
        <a href="#">
          <h4 class="card-title">Sarah</h4>
        </a>
        <h6 class="card-category text-info">
          Biomedical Engineer/Mission 
        </h6>
        <div class="card-footer">
          <a href="#" class="btn btn-icon btn-neutral btn-twitter"><i class="fas fa-user-astronaut"></i></a>
        </div>
      </div>
    </div>
    <div class="card-profile">
      <div class="card-image">
        <img class="rounded-circle" src="https://i1.sndcdn.com/artworks-000142949325-zambin-t500x500.jpg">
      </div>
      <div class="card-body">
        <a href="#">
          <h4 class="card-title">Matthew</h4>
        </a>
        <h6 class="card-category text-info">
          Space hardcore Mission 
        </h6>
        <div class="card-footer">
          <a href="#" class="btn btn-icon btn-neutral btn-twitter"><i class="fas fa-user-astronaut"></i></a>
        </div>
      </div>
    </div>
    <div class="card-profile">
      <div class="card-image">
        <img class="rounded-circle" src="https://imgix.bustle.com/rehost/2016/11/10/f20f6dda-3d23-4611-b572-169bd6355fb3.png">
      </div>
      <div class="card-body">
        <a href="#">
          <h4 class="card-title">Matt</h4>
        </a>
        <h6 class="card-category text-info">
          Wilson 
        </h6>
        <div class="card-footer">
          <a href="#" class="btn btn-icon btn-neutral btn-twitter"><i class="fas fa-user-astronaut"></i></a>
        </div>
      </div>
    </div>
  </div>
  <span class="margin-30"></span>

  <div class="tabs">
		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox1" class="checkboxtab" checked>
			<label for="checkbox1"><i class="fas fa-anchor"></i></label>
			<div class="content">
				
            Brand: There's the mountains!
            Brand: Towards the mountains!
            Cooper: Those aren't mountains, they're waves.

			</div>
		</div>
		
		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox2" class="checkboxtab">
			<label for="checkbox2"><i class="fas fa-beer"></i></label>
			<div class="content">
				
        Cooper: We used to look up at the sky and wonder at our place in the stars, now we just look down and worry about our place in the dirt.
        Brand: Do not go gentle into that good night; Old age should burn and rave at close of day. Rage, rage against the dying of the light.

			</div>
		</div>
		
		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox3" class="checkboxtab">
			<label for="checkbox3"><i class="fas fa-bomb"></i></label>
			<div class="content">
				
        Cooper: You sent people out there looking for a new home?
        Prof. Brand: The Lazarus missions.
        Cooper: That sounds cheerful.
        Prof. Brand: Lazarus care back from the dead.
        Cooper: Sure, but he had to die in the first place.

			</div>
		</div>
	</div>
</div>
