<footer>
  <img class="img-footer" src="https://i1.sndcdn.com/artworks-000365317830-dzb5xd-t500x500.jpg"><br>
  <i class="fab fa-angrycreative"></i><br>
  <p># TEAM CAEN</p><br>
  <p><a href="#"onclick="Popup=window.open('https://media.giphy.com/media/oaPcDncoLfgjK/giphy.gif','Popup','toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,width=250,height=250,left=10 top=10');return false;">CLIC POUR DETRUIRE</a>
  
</footer>