<header>
  <div class="hero">
    <img class="hero-img" src="http://lecinephileanonyme.com/wp-content/uploads/2014/11/cover-critique-interstellar.jpg">
    <img class="hero-logo" src="https://cdn.dribbble.com/users/837461/screenshots/2684404/moon.png">
    <h1 class="hero-title">BOOK THE MOON</h1>
     <a href="https://www.youtube.com/watch?v=4jReIChl5y0" target="_blank"><button class="button" type="button"><i class="fas fa-user-astronaut"></i> Click For it</button></a>
  </div>
  <nav>
    <ul class="nav-wrap">
      <li class="nav-avatar"><img class="avatar" src="https://www.zikeo.net/wp-content/uploads/2017/11/daft-punk-tournee-alive-2017.jpg"></li>
      <li><i class="fas fa-house-damage"></i><a href="#">Home</a></li>
      <li><i class="fas fa-rocket"></i><a href="#">Booking</a></li>
      <li><i class="fas fa-comments"></i><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>